.levelPos {
	border-color: #ec971f !important;
	background-color: #865c5b !important;
	border-width: 0px;
}

.curLevel {
	border-color: #ec971f !important;
	background-color: #c9302c !important;
	font-weight: 900;
	text-decoration: underline;
}

#divCCC {
	display: none;
	margin-top: 5px;
}

#textareaReport {
	max-width: 70em;
	height: 17em;
	margin-top: 10px;
	padding: 5px;
	background-color: #ebebeb;
	color: #000000;
	overflow-y: auto;
}

.popover {
	font-weight: 300;
	max-width: 50%;
}
